/node_modules
/public/hot
/public/storage
/public/api/docs
/public/api-rendered-markdowns
/public/css
/public/js
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

.idea
./ide_helper.php
packages/*
