<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Containers Tests">
            <directory suffix="Test.php">./app/Containers</directory>
        </testsuite>

        <!--<testsuite name="Unit">-->
        <!--<directory suffix="Test.php">./tests/Unit</directory>-->
        <!--</testsuite>-->

        <!--<testsuite name="Feature">-->
        <!--<directory suffix="Test.php">./tests/Feature</directory>-->
        <!--</testsuite>-->
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>

            <exclude>
                <directory suffix=".php">./app/Containers/*/UI/*/Routes</directory>
                <directory suffix=".php">./app/Containers/*/UI/*/Tests</directory>
                <directory suffix=".php">./app/Containers/*/Data/Factories</directory>
                <directory suffix=".php">./app/Containers/*/Data/Migrations</directory>
                <directory suffix=".php">./app/Containers/*/Configs</directory>
                <directory suffix=".php">./app/Ship/Configs</directory>
                <directory suffix=".blade.php">./app</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="./tests/codeCoverage"/>
    </logging>

    <php>
        <env name="API_FULL_URL" value="http://localhost:20000"/>

        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>

        <env name="DB_CONNECTION" value="testing_sqlite_in_memory"/>
        <env name="DB_HOST" value="127.0.0.1"/>
        <env name="DB_PORT" value="3306"/>
        <env name="DB_DATABASE" value="porto_db"/>
        <env name="DB_USERNAME" value="porto_db"/>
        <env name="DB_PASSWORD" value="secret"/>
    </php>
</phpunit>
